# Bind to specific interface only
interface={{ net_iface }}
bind-interfaces

# DHCP configuration
dhcp-range={{ dhcp_start }},{{ dhcp_end }},12h
dhcp-option=3,{{ router_ip }}
dhcp-option=6,{{ dns_servers }}
log-dhcp

# TFTP configuration
enable-tftp
tftp-root={{ tftp_root }}

# Match Pi4 arch (firmware varies)
dhcp-match=set:rpi4,option:client-arch,29
dhcp-match=set:rpi4,option:client-arch,11

# Static leases for Raspberry Pis
{% for host in groups['pi_servers'] + groups['pi_agents'] %}
# {{ hostvars[host].hostname }}
dhcp-host={{ hostvars[host].mac | lower }},{{ hostvars[host].ip }},set:rpi4
{% endfor %}

# Don't read /etc/hosts
no-hosts

# Don't read /etc/resolv.conf
no-resolv

# Add upstream DNS servers directly
{% for dns in dns_servers.split(',') %}
server={{ dns.strip() }}
{% endfor %}
