apiVersion: v1
kind: Secret
metadata:
  name: github-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com
  password: {{ github_token }}
  username: {{ github_username | default('git') }}
---
{% if docker_registry_secret is defined %}
apiVersion: v1
kind: Secret
metadata:
  name: docker-registry
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository  
type: Opaque
stringData:
  type: helm
  name: docker-registry
  url: {{ docker_registry_secret.url | default('https://index.docker.io/v1/') }}
  username: {{ docker_registry_secret.username }}
  password: {{ docker_registry_secret.password }}
{% endif %}
apiVersion: v1
kind: Secret
metadata:
  name: github-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ ray_cluster_repo_url }}
  username: {{ github_username }}
  password: {{ github_token }}