[Unit]
Description=k3s server (cluster-init)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
Environment="INSTALL_K3S_VERSION={{ k3s_version }}"
Environment="K3S_TOKEN={{ cluster_token }}"
Environment="K3S_KUBECONFIG_MODE=644"
ExecStart=/bin/sh -c 'curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=${INSTALL_K3S_VERSION} sh -s - server   --cluster-init   --cluster-cidr {{ cluster_cidr }} --service-cidr {{ service_cidr }}   --disable traefik'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
